.card-profile {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.card-profile-title {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Inknut Antiqua', sans-serif;
}

.card-profile-text {
    padding: 20px;
    font-family: 'Inknut Antiqua', sans-serif;
}

.card-profile-label {
    font-size: 16px;
    font-weight: 500;
    min-width: 30%;
}

.container-card {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;        
}

.profile-footer {
    padding: 50px 20px;
}
